<footer>
	<a href="feed.html" {{#if home_active}}class="active"{{/if}}><i class="material-icons home"></i></a>
	<a href="search.html" {{#if search_active}}class="active"{{/if}}><i class="material-icons search"></i></a>
	<a class="always_selected" href="direct_photo.html"><i class="material-icons photo_camera invert"></i></a>
	<a href="map.html" {{#if explore_active}}class="active"{{/if}}><i class="material-icons explore"></i></a>
	<a href="notifications.html" {{#if notifications_active}}class="active"{{/if}}><i class="material-icons notifications"></i></a>
</footer>