<footer>
	<a href="search.html" {{#if search_active}}class="active"{{/if}}><i class="material-icons search"></i></a>
	<a href="notifications.html" {{#if notifications_active}}class="active"{{/if}}><i class="material-icons notifications"></i></a>
	<a class="always_selected" id="search_by_photo" href="search_by_photo.html"><i class="material-icons photo_camera invert"></i></a>
	<a href="cart.html" {{#if shopping_active}}class="active"{{/if}}><i class="material-icons shopping_cart"></i></a>
	<a href="map.html" {{#if explore_active}}class="active"{{/if}}><i class="material-icons explore"></i></a>
</footer>
<div id="spinner" class="spinner" style="display:none;">
	<img src="images/d_loading@2x.gif" class="loader_image"/>
</div>