<header class="daheader">
	<a href="feed.html">
		<img class="logo_hook" width="134" height="32" src="images/logo.svg" />
	</a>
	{{#if logged_user}}
		{{#if me.profile_pic}}
			<img id="account1" src="{{me.profile_pic}}" class="profile_pic round">
		{{else}}
			<i id="account1" class="material-icons account_circle"></i>
		{{/if}}
	{{else}}
		<i id="account1" class="material-icons account_circle"></i>
	{{/if}}
</header>