<header class="big daheader">
	<a id="backBtn">
		<i id="back" class="material-icons arrow_back"></i>
	</a>
	<div id="barra">
		<i class="material-icons search invert"></i>
		<form id="search_form" action="search_results.html" method="GET">
			<input type="text" name="s" placeholder="Search"  value="{{#if search_term}}{{search_term}}{{else}}{{/if}}" style="color: rgb(255, 255, 255);">
			<input type="submit" value="" style="display:none; visibility: hidden; width: 0px; height=0px; ">
		</form>
	</div>
	<a id="photo-btn" href="direct_photo.html">
		<i id="photo" class="material-icons search photo_camera"></i>
	</a>
</header>