<div class="wrapper" style="display:none">
	<div id="user">
		<div class="logout" >
			<p>Sign in</p>
			<form id="login_form" class="login_form">
				<input name="email" type="email" placeholder="email" value=""><br>
				<input name="password" type="password" placeholder="password"><br>
				<input type="submit" class="icon_hack" value=""><i class="material-icons post_submit send"></i>
			</form>
			{{!-- <p><a class="underline1" href="#">Forgot password</a></p> --}}
			<p>New to Dedalo?<br>
			<a class="underline" href="create_account.html">Create an account</a></p>
			<p>or</p>
			<a href="#" data-provider="facebook" class="media login_button facebook" >Sign in with Facebook</a><br>
			<a href="#" data-provider="google" class="media login_button google" >Sign in with Google</a><br>
		</div>
		<div class="footer">
			<p><a onclick="window.open('http://3dedalo.org/about/', '_blank', 'location=yes');" ><span>About</span> <img width="134" height="32" src="images/logo.svg" /></a></p>
			<p><a onclick="window.open('http://3dedalo.org/terms-and-conditions/', '_blank', 'location=yes');" >Terms and conditions</a> | <a onclick="window.open('http://3dedalo.org/privacy-policies/', '_blank', 'location=yes');" >Privacy policies</a></p>
		</div>
	</div>
	<div class="separate"></div>
</div>