
	<header class="htrans">
		<div class="toolbar">
			<a href="ingreso.html" class="back hook" data-resource="login" style="display:block"><img src="images/back.svg"></a>
		</div>
	</header>
	<div id="container" class="login">
		<img class="logo" src="images/logo.svg">
		<h4>VALIDACIÓN DE CUENTA</h4>
		<form id="code_form">
			<p>Hemos enviado un código de a tu correo electrónico, por favor ingrésalo aquí para continuar con tu registro</p>
			<input id="code" type="number" name="code" placeholder="Código de validación">
			<input type="submit" class="send_login" value="">
		</form>
	</div>

	<div class="overscreen7" style="display:none">
		<div class="ov-filler2"></div>
		<div class="dialog">
			<h5>Atención</h5>
			<p>El código de validación que has introducido no es correcto, revisa la información e intenta nuevamente.</p>
			<div class="di-options">
				<a id="_alert_validate" class="accept">Aceptar</a>
			</div>
		</div>
	</div>