	
	<header class="htrans">
		<div class="toolbar">
			<a class="back hook" data-resource="my-plan" href="dieta.html">
				<img src="{{cordova_full_path}}images/back.svg">
			</a>
			<h2 class="titulo">Próximamente</h2>
		</div>
	</header>
	<section>
		<img src="{{cordova_full_path}}images/coming_soon.svg" class="image_message">
	</section>

