<div id="content" class="search">
	{{> history_header}}

	<div id="no-cat" class="pages search_results">

		<section class="no_results">
			<p class="keyword">Request detailed model</p>
			<p class="message">Please provide further details and Dedalo's community will try to help you.</p>
			
			<form action="" id="further_search" class="further_form">
				<textarea name="message" id="message" placeholder="Comma separated keywords e.g. keychain, darth vader, plastic"></textarea>
				<div class="img_place"></div>
				<a id="send_form" class="submit_adv_search"><i class="material-icons send blue"></i>Send</a>
				<a id="add_photo_appear" class="add_photo"><i class="material-icons photo_camera medium"></i>Add photo</a>
			</form>
			<section class="insert_here filler_upper">
				
			</section>
			<section class="upload_options close_on_touch hidden">
				<div class="wrapper to_bottom dont_close">
					<a id="get_pic_gallery" class="dont_close"><i class="material-icons upload dark"></i>Upload Photo</a>
					<a id="get_pic_camera" class="dont_close"><i class="material-icons photo_camera dark"></i>Use camera</a>
				</div>
			</section>
		</section>

	</div>
    
</div>
{{> footer}}
{{> dom_assets}}
{{> sidemenu}}