	<div class="ini-options">
		<a class="morado hook" data-resource="register" href="registro.html">Regístrate</a>
		<a class="verde hook" data-resource="login" href="ingreso.html">Iniciar Sesión</a>
	</div>