<div id="content" class="map">
	{{> history_header}}
	<div id="no-cat" class="pages not_that_much">
		<section>
    		<div id="map"></div>
    		<section id="insert_info" class="insert_info">
    			
    		</section>
    	</section>
	</div>
	{{>footer}}
</div>
{{> dom_assets}}
{{#if logged_user}}
	{{> sidemenu_logged me}}
{{else}}
	{{> sidemenu}}
{{/if}}