	<header class="htrans">
		<div class="toolbar">
			<a href="inicio.html" class="back" style="display:block"><img src="images/back.svg"></a>
		</div>
	</header>

	<div id="container" class="segundo">
		<div class="seg-options">
			<a class="face" href="">Ingresar con Facebook</a>
			<a class="mail hook" data-resource="login-mail" href="login.html">Ingresar con e-mail</a>
		</div>
	</div>
