	{{> header}}

	<div id="container" class="segundo">
		<div class="seg-options">
			<a class="face" href="">Ingresar con Facebook</a>
			<a class="mail" href="login.html">Ingresar con e-mail</a>
		</div>
	</div>
