	<header class="htrans">
		<div class="toolbar">
			<a href="inicio.html" class="back hook" data-resource="entermode" style="display:block"><img src="images/back.svg"></a>
		</div>
	</header>

	<div id="container" class="segundo">
		<div class="seg-options">
			<a class="face" href="">Ingresar con Facebook</a>
			<a class="mail" href="login.html">Ingresar con e-mail</a>
		</div>
	</div>
	<div class="loader_container" id="spinner">
		<div class="loading"></div>
	</div>