	<header class="htrans">
		<div class="toolbar">
			<a data-resource="entermode" href="ingreso.html" class="back hook back_with_logout" style="display:block">
				<img src="images/back.svg">
			</a>
		</div>
	</header>
	<div>
		<img class="logo" src="images/logo.svg">
		<h4>INICIAR SESIÓN</h4>
		<form id="login_form" name="login_form" method="POST" >
			<input id="mail" 		 type="email" 	 name="mail" placeholder="Correo electrónico">
			<input id="pass" 		 type="password" name="pass" placeholder="Contraseña">
			<input id="enviar_login" type="submit"  value="">
		</form>
	</div>