<div id="content" class="map">
	{{>search_header}}
	<div class="subheader" style="text-align:center">
		<!-- <a id="allBtn" class="cats1 select">ALL</a> -->
		<a id="printBtn" class="cats1">PRINTER</a>
		<a id="scanBtn" class="cats1">SCANNER</a>
		<a id="shipBtn" class="cats1">+SHIP</a>
	</div>
	<div id="no-cat" class="pages">
		<section>
    		<div id="map"></div>
    		<section id="insert_info" class="insert_info">
    			
    		</section>
    	</section>
	</div>
	{{>footer}}
</div>
{{> dom_assets}}
{{#if logged_user}}
	{{> sidemenu_logged me}}
{{else}}
	{{> sidemenu}}
{{/if}}