<div id="content" class="notif">
	{{> history_header}}

	<section>
		{{#if notifications.count}}
			{{#each notifications.pool}}
				<div class="notifier"><div></div><p><b>Lorem ipsum dolor</b> sit amet, consectetur adipiscing elit. Feugiat ligula.</p></div>
			{{/each }}
		{{else}}
			<p class="message">You don't have new notifications</p>
		{{/if}}
	</section>

	{{> dom_assets}}
	{{> footer}}
</div>