	<section id="mainFeed">

			<div>
				<div class="fondo">
					<img  src="images/bkg1.png">
				</div>
				<header class="htrans">
					<div class="toolbar">
						<a class="back" style="display:block"><img src="images/back.svg"></a>
					</div>
				</header>

				<div class="paginador-wrapper">
			    	<div class="paginador">
				    	<div class="aboutyou pagina">
				    		<h2>Cuéntanos sobre ti</h2>
				    		<nav class="selector">
				    			<a class="genre-bt active" href="#">Soy un(a)</a>
				    			<a class="age-bt" href="#">Que tiene</a>
				    			<a class="zip-bt" href="#">Código<br>Postal</a>
				    		</nav>
				    		<div class="page-holder">
				    			<div class="page genre sector-1">
				    				<img id="hombre" src="images/hombreh.svg" alt="1">
				    				<img id="mujer" src="images/mujer.svg" alt="">
				    			</div>

				    			<input id="genre_value" type="hidden" value="">

				    			<div class="page age sector-1" style="display:none">
				    				<img class="img-derecha" src="images/bebe.png">
				    				<div class="drag-parent">
				    					<div class="slider-bar"></div>
				    					<div id="age-filler" class="slider-filler"></div>
				    					<div id="age" class="slider-point">
				    						<div class="position">
				    							<span id="age-dato" value="">15</span>
				    							<br>años

				    							<input id="edad_value" value="15" type="hidden">
				    						</div>
				    					</div>
				    				</div>
				    				<img class="img-izquierda" src="images/adulto.png">
				    			</div>
				    			<div class="page zip sector-1" style="display:none">
				    				<div class="box-input-1">
				    					<input id="zipInput" type="number" min="1" max="99999" name="zipcode" style="height:50px!important;" placeholder="06000" onkeypress='return event.charCode >= 46 && event.charCode <= 57' pattern="[0-9]*" >
				    				</div>
				    			</div>
				    		</div>
				    		<nav class="selector">
				    			<a class="mido-bt active" href="#">Mido</a>
				    			<a class="peso-bt" href="#">Peso</a>
				    			<a class="ideal-bt" href="#">Mi peso<br>ideal es</a>
				    		</nav>
				    		<div class="page-holder">
				    			<div class="page mido sector-2">

				    				<div class="arrows-vertical">
				    					<img id="estatura-up" src="images/leftarrow.png">
				    					<img id="estatura-dw" src="images/rightarrow.png">
				    				</div>
				    				
				    				<img class="type-def" src="images/hombreh.svg">
				    				
				    				<div class="box-input-2">
				    					<input type="number" style="height:50px!important;" name="estatura" value="1.50" maxlength="4"  onkeypress='return event.charCode >= 46 && event.charCode <= 57'>
				    					<span>m</span>
				    				</div>

				    			</div>
				    			<div class="page peso sector-2" style="display:none">
				    				<div class="arrows-vertical">
				    					<img id="peso-up" src="images/leftarrow.png">
				    					<img id="peso-dw" src="images/rightarrow.png">
				    				</div>
				    				<img class="type-def" src="images/hombreh.svg">
				    				<div class="box-input-2">
				    					<input type="number" style="height:50px!important;" name="peso" value="50.0" maxlength="4" onkeypress='return event.charCode >= 46 && event.charCode <= 57'>
				    					<span>kg</span>
				    				</div>
				    			</div>
				    			<div class="page ideal sector-2" style="display:none">
				    				<div class="arrows-vertical">
				    					<img id="ideal-up" src="images/leftarrow.png">
				    					<img id="ideal-dw" src="images/rightarrow.png">
				    				</div>
				    				<img class="type-def" src="images/hombreh.svg">
				    				<div class="box-input-2">
				    					<input type="number" style="height:50px!important;" name="ideal" value="50.0" maxlength="4" onkeypress='return event.charCode >= 46 && event.charCode <= 57'>
				    					<span>kg</span>
				    				</div>
				    			</div>
				    		</div>
				    		<img id="next_step_one" class="enter next_step step_1" src="images/enter.svg">
				    	</div>

				    	<div class="objetive pagina" style="display:none">
				    		<h2>¿Cuál es tu objetivo?</h2>
				    		<div class="sld-wrapper">
				    			<div class="mover planes tipo_plan">
				    				<div class="plan pl-option active">
				    					<img src="images/plan/perderpeso2.png">
				    					<span value="adelgazar" data-index="0" class="type">Bajar de peso</span>
				    				</div>
				    				<div class="plan pl-option">
				    					<img src="images/plan/detox.png" value="">
				    					<span value="detox" data-index="1" class="type">Detox</span>
				    				</div>
				    				<div class="plan pl-option">
				    					<img src="images/plan/rendimientofisico.png" value="">
				    					<span value="rendimiento" data-index="3" class="type">Rendimiento físico</span>
				    				</div>
				    				<div class="plan pl-option">
				    					<img src="images/plan/sentirsemejor.png" value="">
				    					<span value="bienestar" data-index="2" class="type">Bienestar</span>
				    				</div>
				    			</div>
				    			<input id="plan" type="hidden" value="0">
				    		</div>
				    		<h2>¿Qué tipo de coach necesitas?</h2>
				    		<div class="sld-wrapper">
				    			<div class="mover planes tipo_coach">
				    				<div class="plan co-option active">
				    					<img src="images/coach/estricto2.png">
				    					<span class="type" value="estricto"> Estricto</span><br>
				    					<img class="question" src="images/question.svg" title="Estricto" data="Coach que busca que se cumplan sus dietas y recomendaciones al pie de la letra y que estará al pendiente de todos tus movieminteos para que cumplas tus objetivos">
				    				</div>
				    				<div class="plan co-option">
				    					<img src="images/coach/innovador.png">
				    					<span class="type" value="innovador">Innovador</span><br>
				    					<img class="question" src="images/question.svg" title="Innovador" data="Coach que integra en sus dietas superalimentos así como recetas gourmet, healthy, o en general más elaboradas">
				    				</div>
				    				<div class="plan co-option">
				    					<img src="images/coach/animador.png">
				    					<span class="type" value="animador">Animador</span><br>
				    					<img class="question" src="images/question.svg" title="Animador" data="Coach que busca que te motives y que tengas ganas de obtener los mejores resultados posibles, fáciles de conseguir y de preparar">
				    				</div>
				    				<div class="plan co-option">
				    					<img src="images/coach/tradicional.png">
				    					<span class="type" value="tradicional">Tradicional</span><br>
				    					<img class="question" src="images/question.svg" title="Tradicional" data="Coach que se basa en alimentos sencillos y tradicionales, fáciles de conseguir y de preparar">
				    				</div>
				    			</div>
				    			<input id="coach_type" type="hidden" value="0">	
				    		</div>
				    		<img id="next_step_two" class="enter next_step step_2" src="images/enter.svg">
				    	</div>

						<!-- Pag 3: Frecuencia de ejercicio -->
				    	<div class="pagina exercise" style="display:none">
				    		<h2>¿Con qué frecuencia<br>haces ejercicio?</h2>
				    		<div class="page-holder">
				    			<div class="page">
				    				<img class="img-derecha" src="images/norun.svg">
				    				<div class="drag-parent">
				    					<div class="slider-bar"></div>
				    					<div id="ejercicio-filler" class="slider-filler"></div>
				    					<div id="ejercicio" class="slider-point">
				    						<div class="position"><span id="ejercicio-dato">0</span><br>días</div>
				    					</div>
				    				</div>
				    				<img class="img-izquierda" src="images/run.svg">
				    			</div>
				    		</div>
			    			<p>Días por semana</p>
				    		<img id="next_step_three" class="enter next_step step_3" src="images/enter.svg">
				    		<input id="days_per_week" type="hidden" value="0">
				    	</div>

						<!-- Pag 4: Restricciones alimenticias -->
				    	<div class="restric pagina" style="display:none">
				    		<h2>¿Tienes alguna<br>restricción alimenticia?</h2>
				    		<span class="little-comment">Puedes seleccionar más de una opción</span>
				    		<div class="sld-wrapper">
				    			<div class="mover planes tipo_restric">
				    				<div class="plan re-option">
				    					<img src="images/restric/camaron.png">
				    					<span class="type" value="3">Mariscos</span>
				    				</div>
				    				<div class="plan re-option">
				    					<img src="images/restric/carne.png">
				    					<span class="type" value="5">Carne</span>
				    				</div>
				    				<div class="plan re-option">
				    					<img src="images/restric/huevo.png">
				    					<span class="type" value="0">Huevo</span>
				    				</div>
				    				<div class="plan re-option">
				    					<img src="images/restric/lacteos.png">
				    					<span class="type" value="4">Lácteos</span>
				    				</div>
				    				<div class="plan re-option">
				    					<img src="images/restric/pescado.png">
				    					<span class="type" value="2">Pescado</span>
				    				</div>
				    				<div class="plan re-option">
				    					<img src="images/restric/pollo.png">
				    					<span class="type" value="1">Pollo</span>
				    				</div>
				    			</div>
				    			<input class="restricciones" type="hidden" value=" ">
				    		</div>
				    		<h2>¿Tienes algo más que contarnos?</h2>
				    		<span class="little-comment">Medicamentos, enfermedades, condiciones, alergias o cualquier otra cosa que nos quieras contar</span>
		    				<div id="si" class="siono yes">Sí</div>
		    				<div id="no" class="siono not active">No</div>
				    		<span class="the-comment" style="display:none"></span>
				    		<img id="next_step_four" class="saltar next_step step_4" src="images/saltar.svg">

				    	</div>

				    	<div class="pcoach1 pagina" style="display:none">
				    		<h2>Selecciona tu coach</h2>
				    		<div class="wrap-cslide">
				    			<div class="cslider">
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				<div class="slide-coach">
				    					<div class="coach img-frame">
				    						<img class="la_foto" src="images/noimg.svg">
				    					</div>
				    					<h5 class="coach_name name">María Medina</h5>
				    					<div class="rate-stars">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<img src="images/star.svg">
				    						<div class="bt-review">VER RESEÑAS</div>
				    						<div class="no-review">sin valoraciones</div>
				    					</div>
				    					<p class="short-descrip"><b>"Tener una dieta blanceada es bueno para tu salud"</b><p>
				    					<textarea class="short-descrip" readonly></textarea>
				    				</div>
				    				
				    			</div>
				    		</div>
				    		<img id="next_step_five" class="enter next_step step_5" src="images/elegir.svg" >
				    	</div>

				    	<div class="resena pagina" style="display:none">
				    		<h2>Valoraciones y reseñas</h2>
				    		<div class="bio img-frame">
				    			<img class="la_foto_resena" src="images/muestra.png">
				    		</div>
				    		<h5 class="coach_name name name_on">María Medina</h5>
				    		<div class="rate-stars_inner">
				    			<img src="images/star.svg"> 
				    			<img src="images/star.svg"> 
				    			<img src="images/star.svg">
				    			<img src="images/star.svg"> 
				    			<img src="images/star.svg"> 
				    			<div class="no-review">2 valoraciones</div>
				    		</div>
				    		<div class="insert_stars">
				    			
				    		</div>
				    	</div>


				    	<div class="discount pagina" style="display:none">
				    		<img class="la_img" src="images/discount.png">
				    		<p class="semana">Prueba una semana gratis. Después sólo<br>paga $350.00 al mes y puedes cancelar<br>en cualquier momento*</p>
				    		<p class="satis corg">¡SATISFACCIÓN 100% GARANTIZADA<br>O TE DEVOLVEMOS TU DINERO!</p>
				    		<div class="btn-iniciar">Iniciar prueba GRATIS</div>
				    		<h4>Elegir forma de pago</h4>
				    		<div class="btn-pago">TARJETA</div>
				    		<p class="letritas">* Aplican términos y condiciones,<br>abierto únicamente a nuevos usuarios</p>
				    	</div>

				    	<!--

										FORMULARIO TARJETA DE CREDITO

				    															-->
				    	<div class="conekta pagina" style="display:none">
				    		<h2>Información de pago</h2>
				    		<form id="forma_pago" name="forma_pago" method="post">
				    			<div class="form-label">
				    				<input type="text" name="nombre">
					    			<label for="nombre">Nombre (como aparece en tu tarjeta)</label>
				    			</div>
				    			<div class="form-label">
				    				<input type="number" name="card" onKeyDown="if(this.value.length==16) return false;" placeholder="" onkeypress='return event.charCode >= 46 && event.charCode <= 57' pattern="[0-9]*">
					    			<label for="card">Número de tarjeta</label>
				    			</div>
				    			<div class="form-label-2">
				    				<input type="text" name="mes" maxlength="2" placeholder="" onkeypress='return event.charCode >= 46 && event.charCode <= 57' pattern="[0-9]*">
					    			<label for="mes">MM</label>
					    			<span>/</span>
					    			<input type="text" name="year" maxlength="2" placeholder="" onkeypress='return event.charCode >= 46 && event.charCode <= 57' pattern="[0-9]*">
					    			<label for="year">YY</label>
				    			</div>
				    			<div class="form-label-2 segur">
				    				<input type="text" name="cvc" maxlength="4" placeholder="" onkeypress='return event.charCode >= 46 && event.charCode <= 57' pattern="[0-9]*">
					    			<label for="cvc">CVC</label>
				    			</div>
				    			<div class="form-label">
				    				<input type="text" name="mail">
					    			<label for="mail">Correo electrónico</label>
				    			</div>
				    			<div class="form-label-2">
				    				<input type="text" name="cupon" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
					    			<label for="cupon">Cupón</label>
				    			</div>
				    			<div class="form-label-2">
				    				<div class="bt-review">VALIDAR CUPÓN</div>
				    			</div>
				    			<div class="form-label">
				    			<input type="checkbox" name="terms">
				    			<span>Acepto <a href="http://www.gingerapp.mx/terminosycondiciones/">Términos y Condiciones</a></span>
				    			<div>
				    				<br>
				    				<img style="width:30px; height:auto; float:left;" src="images/candado-08-08.png">
				    				<p style="margin-left:45px; margin-top:10px";> <strong>Pago Seguro</strong></p>
				    				<p style="margin-top:15px;">Todos tus datos son cifrados y nunca Ginger ni terceros tienen acceso a ellos.</p>
				    			</div>
				    			</div>
				    		</form>
				    		<input id="send_fPago" name="send_fPago" type="submit" value="">
				    		<!-- <img class="enter" src="images/aceptar.svg"> -->
				    	</div>
			    	</div>
			    </div>
			    <div class="bolitas">
			    	<div class="bola bpur active"></div>
			    	<div class="bola bgre"></div>
			    	<div class="bola bred"></div>
			    	<div class="bola borg"></div>
			    	<div class="bola byel"></div>
			    	<div class="bola bgry always">
			    		<div class="circle-frame">
			    			<img src="images/muestra.png">
			    		</div>
			    	</div>
			    </div>
			</div>
			<div class="overscreen2 modal" style="display:none">
				<div class="ov-filler2"></div>
				<div class="dialog">
					<h5>Estricto</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ipsum eget mauris euismod.</p>
					<div class="di-options">
						<a class="accept modal_ok">Aceptar</a>
					</div>
				</div>
			</div>
			<div class="overscreenzip" style="display:none">
				<div class="ov-filler2"></div>
				<div class="dialog">
					<h5>Perfil incompleto</h5>
					<p>No has introducido un Código Postal</p>
					<div class="di-options">
						<a class="accept zipcode">Aceptar</a>
					</div>
				</div>
			</div>
			<div class="comment_pop modal_ok_cancel modal" style="display:none">
				<div class="ov-filler2"></div>
				<div class="dialog">
					<h5>Cuéntanos más de ti</h5>
					<textarea id="comentar" placeholder=""></textarea>
					<div class="di-options">
						<a id="send_register_cmt" class="accept">Aceptar</a>
						<a class="cancel comment">Cancelar</a>
					</div>
				</div>
			</div>
			
			<div class="overscreen4" style="display:none">
				<div class="ov-filler2"></div>
				<div class="dialog">
					<h5>Coach</h5>
					<p>¿Estás seguro de querer elegir a este coach?</p>
					<div class="di-options">
						<a id="aceptar" class="accept">Aceptar</a>
						<a id="cancelar" class="accept">Cancelar</a>
					</div>
				</div>
			</div>

			<div class="overscreen5" style="display:none">
				<div class="ov-filler2"></div>
				<div class="dialog">
					<h5>Atención</h5>
					<p>El cobro a tu tarjeta se hará el día 8, al finalizar la semana gratis</p>
					<div class="di-options">
						<a id="info_pay" class="accept">Aceptar</a>
					</div>
				</div>
			</div>

			<div class="overscreen6" style="display:none">
				<div class="ov-filler2"></div>
				<div class="dialog">
					<h5>¡Muchas Felicidades!</h5>
					<p>Ya puedes comenzar tu semana gratis</p>
					<div class="di-options">
						<a id="go_next" class="accept">Aceptar</a>
					</div>
				</div>
			</div>

	</section>