	{{> header}}
	<div class="seg-options">
		<a class="face" href="#">Registrarse con Facebook</a>
		<a class="mail hook" data-resource="register-mail" href="crear.html" >Registrarse con e-mail</a>
	</div>
