	{{> header}}
	<div class="login ">
		<img class="logo" src="images/logo.svg">
		<h4>CREAR UNA CUENTA</h4>
		<form id="create_account" name="create_account" method="post">
			<input id="user" 		type="text" 	name="user" 	 placeholder="Nombre">
			<input id="last_name" 	type="text" 	name="last_name" placeholder="Apellido">
			<input id="mail" 		type="email" 	name="mail"		 placeholder="Correo electrónico">
			<input id="pass" 		type="password" name="pass" 	 placeholder="Contraseña">
			<input id="c_pass" 		type="password" name="cpass" 	 placeholder="Confirmar contraseña">
			<input id="enviar" 		type="submit" 	name="enviar" 	 value="">
		</form>
	</div>