	<header class="htrans">
		<div class="toolbar">
			<a data-resource="entermode" href="inicio.html" class="back hook" style="display:block"><img src="images/back.svg"></a>
		</div>
	</header>
	<div class="seg-options">
		<a class="face" href="#">Registrarse con Facebook</a>
		<a class="mail" href="crear.html">Registrarse con e-mail</a>
	</div>
