<div id="content" class="picture">
	{{>history_header}}
	<div class="subheader1">
		<a data-source="gallery" class="bots active">GALLERY</a>
		<a data-source="camera" class="bots">CAMERA</a>
	</div>
	<section>
	<div id="principalf"><img id="bigpreview" src="images/1.png" /></div>
	<div id="gallery"><div><img class="preview" src="images/2.png" /><img class="preview" src="images/3.png" /><img class="preview" src="images/4.png" /><img class="preview" src="images/5.png" /><img class="preview" src="images/6.png" /><img class="preview" src="images/7.png" /><img class="preview" src="images/8.png" /></div></div>
	</section>
	{{>footer}}
</div>